---
apiVersion: v1
kind: Service
metadata:
  name: qwen3-8b-disagg-epp
spec:
  selector:
    app: qwen3-8b-disagg-epp
  ports:
    - protocol: TCP
      port: 9002
      targetPort: 9002
      appProtocol: http2
  type: ClusterIP